./autosearch/bin
./autosearch/obj
./autosearch/Properties
./autosearch/appsettings.json
./autosearch/appsettings.Development.json
./autosearch/autosearch.csproj.user
./autosearch/autosearch.csproj.vspscc
./autosearch/autosearch.csproj.user