/autosearch/bin
/autosearch/obj
/autosearch/Properties
/autosearch/appsettings.json
/autosearch/appsettings.Development.json
/autosearch/autosearch.csproj.user
/autosearch/autosearch.csproj.vspscc
/autosearch/autosearch.csproj.user
/.vs
/.vscode
**/bin
**/obj
**/Properties
**/appsettings.json
**/appsettings.Development.json
**/autosearch.csproj.user
**/autosearch.csproj.vspscc
**/autosearch.csproj.user
/.vs
/.vscode
**/bin
**/obj
/autosearch.Server/autosearch.db